.Container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  .left {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    width: 55%;
    margin-top: 4rem;
    background-color: #e75f5f;
    padding: 2rem;
    color: #fff;

    h4 {
      letter-spacing: 1.2px;

      &::first-letter {
        background-color: #fff;
        padding: 5px 1rem;
        border-radius: 1rem;
        font-size: 3rem;
        color: rgb(83, 76, 76);
        margin-right: 5px;

        @media (max-width: 900px) {
          padding: 2px 0.7rem;
          font-size: 2rem;
        }
      }
    }
    .image {
      background-image: url("../Assets/illustration.svg");
      // border: 1px solid black;
      height: 80%;

      background-position: center;
      background-repeat: no-repeat;
      // background-size: cover;
    }
    .offer {
      width: 100%;
      margin: 1rem 0;
      display: flex;
      justify-content: center;
      font-weight: 500;
    }

    @media (max-width: 900px) {
      width: 100%;
      height: 40%;
      padding: 1rem;
    }
    @media (max-width: 900px) {
   
      padding: 2rem;
    }
  }
  .right {
    width: 45%;
    height: 100%;
    margin-top: 4rem;
    padding: 2rem;
    padding-bottom: 10rem;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
    h3 {
      margin: 0px;
    }
    .login_route {
      display: flex;
      width: 100%;
      gap: 10px;
      justify-content: center;
      margin: 2rem auto;

      a {
        text-decoration: none;
      }
    }
    .or {
      font-weight: bold;
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0.5rem auto;
    }
    form {
      display: flexs;
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin: 0.4rem auto;

      .login_head {
        display: flex;
        width: 100%;
        margin: 5px auto;
        justify-content: center;
      }
      hr {
        width: 10%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        border-radius: 10px;
      }
      .form-group {
        position: relative;
        margin: 10px auto;
        label {
          display: block;
          margin-bottom: 0.5rem;
          font-weight: 550;
        }
        i {
          position: absolute;
          padding: 0.9rem;
          font-size: 1.5rem;
        }
        input {
          width: 100%;
          padding: 15px 3rem;
          outline: none;
          border-radius: 5px;
          border: 2px solid #c4c4c4;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
          transition: border 0.3s ease-in-out;

          &:focus {
            border: 2px solid #e75f5f;
            transition: border 0.3s ease-in-out;
          }
        }
        .failure-icon,
        .success-icon {
          right: 0;
        }

        .failure-icon {
          color: red;
        }
        .success-icon {
          color: green;
        }
      }
      button {
        width: 100%;
        padding: 0.7rem 2rem;
        outline: none;
        border: transparent;

        background-color: #e75f5f;
        color: #fff;
        letter-spacing: 1px;
        font-weight: bold;
        margin: 1rem auto;
        transition: all 0.4s ease-in-out;

        &:hover {
          background-color: #ff4141;
          transition: all 0.4s ease-in-out;
        }
      }
    }
    @media (max-width: 900px) {
      position: relative;
      width: 100%;
      height: 60%;
      margin: 10px auto;
      box-shadow: none;
    }
  }

  @media (max-width: 900px) {
    flex-direction: column;
    gap: 0.5rem;
    height: 100vh;
  }
}
